.site-header {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  z-index: 200;
  background-color: #fff;
}

.site-logo-container {
  font-size: 2rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
}