:root {
  --nav-bar-background-gradient:  linear-gradient(to top, #FFFFFF, rgb(255, 255, 255), rgba(255,255,255,0.7), rgba(255,255,255,0.4), rgba(255,255,255,0));

}

html {
  font-size: 16px;
}

body {
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-family: Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: none;
  padding: 0;
  background-color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-container {
  display: flex;
  flex-direction: column;

}

.main-content {
  position: relative;
  top: 60px;
  min-height: calc(100vh - 60px);
  background-color: #f0f2f5;
}