:root {
  --nav-bar-background-gradient:  linear-gradient(to top, #FFFFFF, rgb(255, 255, 255), rgba(255,255,255,0.7), rgba(255,255,255,0.4), rgba(255,255,255,0));
  --primary-text: #050505;
  --secondary-text: #65676b;

  --secondary-button-background: #e4e6eb;

  --accent: rgb(24, 118, 242);

  --hover-overlay: rgba(0, 0, 0, 0.05);

  --divider: #ced0d4;
}

html {
  font-size: 16px;
}

body {
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: none;
  padding: 0;
  background-color: inherit;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-container {
  display: flex;
  flex-direction: column;
}