html {
  font-size: 15px;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-container {
  display: flex;
  flex-direction: column;

}

.main-content {
  position: relative;
  top: 60px;
  min-height: calc(100vh - 60px);
  background-color: #f0f2f5;
}